* {
    font-family: 'Merriweather', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background-color: #b08010;
}

li {
    float: left;
    background-color: #f5d997;
    margin-left: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #fcf2dc;
    color: #000000;
    text-decoration: none;
}

.topnav-right {
    float: right;
}

.topnav-right .fa-sign-out-alt {
    color: #ffffff;
    font-size: 2rem;
    padding: auto;
    margin-top: 10px;
}

.topnav-right .fa-sign-out-alt :hover {
    cursor: pointer;
}

.monroe_title {
    color: #b08010;
    margin-top: 1rem;
}

table {
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
}

table th {
    background-color: #b08010;
}

table td {
    background-color: #f5d997;
}

@media (max-width: 640px) {
    .monroe-image-sm-hidden {
        display: none;
    }
    .monroe-image-sm-show {
        display: inline-block;
        margin-left: auto;
        margin-right:auto;
        background-size: 100% 100%;

    }
}
